*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;  
}
.content{
    display: flex;
}
.logo{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    text-align: center;
}
.content form{
    background-color: rgb(217, 217, 217);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 15px;
    margin: 0 150px;
}
h3{
    text-align: center;
    margin-bottom: .5rem;
}
a{
    color: black;
    text-align: center;
}
input{
    padding: 10px;
}
input button{
    padding: 5px 10px;
    margin: 5px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
}
button[type=submit]{
    font-size: 1rem;
    margin-top: .5rem;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: .3s;
    padding: 8px 0;
    background-color: black;
    color: white;
}
button[type="submit"]:hover{
    background-color: #757575;
}
.spans{
    text-align: center;
    font-size: 1rem;
    color: #ff0000;
    margin-top: .5rem;
    display: none;
}
