*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: linear-gradient(90deg, #9569de 10%, #daa5dc 100%);
    
}
form{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    border-radius: 15px;
    max-width: min-content;
    margin-top: 40px;
    padding: 20px 50px ;
    position: relative;
}
form h2{
    text-align: center;
    color: #ffffff;

}
form input{
    margin: 5px 0;
    padding: 12px;
}
form input[type=submit]{
    cursor: pointer;
    color: #ff0000;
}
